// Primary Colors
$color-glacier: #73afbb;
$color-light-forest-green: #60a377;

// Auxiliary Colors
$color-tangaroa: #1c2d3e;
$color-mako: #444653;
$color-nevada: #636878;
$color-regent-gray: #7d858e;
$color-manatee: #959ea6;
$color-iron: #d8d8d8;